.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.54px;
  color: var(--text-color-header);
}
.navigation-menu,
.header-actions {
  display: none;
}
.logo-air img {
  width: 6.5rem;
  height: 2.5rem;
}
.menu-toggle {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: var(--color-background);
  border: none;
}
.menu-toggle span {
  display: block;
  height: 3px;
  width: 32px;
  background-color: var(--color-dark);
  padding: 1px;
  border-radius: 20px;
}
@media (min-width: 1024px) {
  .main-header {
    justify-content: flex-start;
    padding: 17px 80px;
  }
  .navigation-menu {
    display: flex;
    gap: 48px;
    margin-right: auto;
    width: 25rem;
  }
  .header-actions {
    display: flex;
    gap: 32px;
  }
  .header-cta {
    font-weight: 500;
    color: var(--color-background);
    background-color: var(--color-primary);
    padding: 16px 40px;
    border-radius: 10px;
  }
  .menu-toggle {
    display: none;
  }
  .logo-air {
    margin-right: 60px;
  }
}
