.app-showcase {
  background-color: var(--color-background-showcase);
  color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.showcase-img {
  background-image: url("../assets/images/blue-scribble-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -1rem bottom;
  width: 300px;
  margin-bottom: 2rem;
}
.showcase-img img {
  width: 15rem;
}
.showcase-content > p {
  margin-bottom: 2rem;
}
.showcase-cards img {
  width: 2rem;
}
.showcase-cards {
  display: flex;
}
.showcase-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 1024px) {
  .app-showcase {
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 40px 2px;
  }
  .showcase-img {
    width: 430px;
    height: 400px;
    margin-bottom: 0px;
  }
  .showcase-img img {
    width: 410px;
    height: 400px;
  }
  .showcase-content {
    width: 444px;
    height: 320px;
  }
}
@media (min-width: 1440px) {
  .app-showcase {
    display: flex;
    flex-direction: row;
    padding: 57px 80px 2px;
    justify-content: space-between;
  }
  .showcase-content {
    width: 549px;
    height: 363px;
  }
  .showcase-content h2 {
    font-size: 32px;
  }
  .showcase-img {
    width: 578px;
    height: 541px;
    margin-bottom: 0;
  }
  .showcase-img img {
    width: 548px;
    height: 543px;
  }
}
