.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.testimonial-image img {
  width: 250px;
}
.testimonial-image {
  z-index: 2;
}
.testimonial-author {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.testimonial-author img {
  width: 100px;
}
.testimonial-card {
  position: relative;
  z-index: 1;
  transform: translateY(-3rem);
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-secondary);
  gap: 1rem;
  padding: 4.5rem 1rem;
}
.testimonial-navigation {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
}
.testimonial-navigation button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .testimonials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 32px 110px 32px;
  }
  .testimonial-author img {
    width: 7rem;
  }
  .testimonial-card {
    transform: none;
    z-index: 1;
    padding: 28px 32px 32px 120px;
    height: 250px;
    gap: 0px;
  }
  .testimonial-card > p {
    font-size: 18px;
    margin-bottom: 1rem;
  }
  .testimonial-author strong {
    font-size: 20px;
  }
  .testimonial-image {
    flex-shrink: 0;
  }
  .testimonial-image img {
    transform: translateX(3rem);
  }
}
@media (min-width: 1440px) {
  .testimonial-image img {
    width: 395px;
  }
  .testimonial-card{
    height: 395px;
    padding: 79px 50px 50px 120px;
  }
.testimonial-card > p {
  font-size:  1.5rem;
  margin-bottom: 5rem;
}
}
